body {
  background: #191919;
  padding: 0px;
  margin: 0px;
}
.full-height {
  width: 100%;
  height: 100vh;
}
.parallax-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position:center top;
  overflow-x: hidden;
  overflow-y: visible;
}
.parallax-layer {
  position: fixed;
  display: flex;
  justify-content:center;
  align-items: center;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center top;
}
.parallax-layer.content {
  position: fixed;
  height: auto;
  margin-top: 38vh;
  text-align: center;
  color: #fff;
  z-index: 110;
  text-shadow: 1px 3px 25px rgba(0,0,0,.2);
}
.parallax-layer.content h1 {
  margin: 0 auto;
  font-size: 16em;
  text-transform: uppercase;
}
.front-foreground-element {
  z-index: 125;
  width: auto;
  height: auto;
  clip-path: url(#front-foreground-clip);
}
.foreground-element {
  z-index: 100;
  width: auto;
  height: auto;
  clip-path: url(#foreground-clip);
}
.midground-element {
  z-index: 50;
}
.background-element {
  z-index: 25;
  width: auto;
  height: auto;
  clip-path: url(#background-clip);
}
.bounding-box-wrapper {

}
.bounding-box-wrapper svg {
  
}
.bounding-box-wrapper img {
  padding: 0;
  margin:0;
}
@media screen and ( min-width: 1201px ) and ( max-width: 1800px ) {
  .parallax-layer.content h1 {
    font-size: 12em;
  }
}
@media screen and ( min-width: 801px ) and ( max-width: 1200px ) {
  .parallax-layer.content h1 {
    font-size: 9em;
  }
}
@media screen and ( min-width: 501px ) and ( max-width: 800px ) {
  .parallax-layer.content h1 {
    font-size: 5em;
  }
}

@media screen and (max-width: 500px) {
  .parallax-layer.content h1 {
    font-size: 3.5em;
  }
}

/* Minimum aspect ratio */
@media (min-aspect-ratio: 3/2) {
  .bounding-box-wrapper, .bounding-box-wrapper img, .bounding-box-wrapper svg {
    width: 100vw;
    height: 133.33333vw;
  }
}
@media (aspect-ratio: 3/2) { 
  .bounding-box-wrapper, .bounding-box-wrapper img, .bounding-box-wrapper svg {
    width: 100vw;
    height: 133.33333vw;
  }
}
/* Maximum aspect ratio */
@media (max-aspect-ratio: 3/2) {
  .bounding-box-wrapper, .bounding-box-wrapper img, .bounding-box-wrapper svg {
    width: auto;
    height: 200vh;
  }
}





